html {
  background-color: #dbd6cf;
  font-family: Georgia, sans-serif;
  box-sizing: border-box;
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  padding: .6em .5em .75em;
}

h1 {
  font-family: Bevan, sans-serif;
  text-align: center;
  color: #fff;
  margin: 0;
}
.nav {
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav li {
  display: inline-block;
  color: #fff;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #713837;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 5px;
}

.nav a:hover {
  background-color: #f33;
}
